@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Space+Grotesk:wght@500&display=swap');

/* html {
    min-width: 100%;
    max-height: -10%;
  } */
body{
    background-color:hsl(234, 29%, 20%);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;   
}
h1{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.container{
    /* display:none; */

    margin:auto;
    margin-bottom:5vw ;
}
.rowf{
   margin-top:50px;
   padding: 0%;
    border-radius:2.5%;
    background-color: #fff;
    
}
#first-list{
   margin:0;
   padding:0;
   
}
.item1{
  
    padding:5vw;
    margin-bottom: 2vw;
   
}

#small-black{
    font-size: 0.7rem;
    font-weight: bolder;  
    text-align: left;
    /* margin-bottom: 0.3rem; */
    font-weight:700;
 
}
/* .second{
    padding: 2vw;
} */
#small-p{
   
    display:none;
  /* padding-left: 0; */
    font-size: 0.7rem;
    font-weight:700;
    /* padding-left: 27%; */
    color:hsl(4, 91%, 58%);
    margin-bottom: 0;
}
#exampleInputEmail1{
   padding: 0;
    height:45px;  
    border-radius: 2; 
}

.fa-check-circle{
    margin-right:5px;
    color:hsl(4, 100%, 67%);
    
}
#thankYou-fa{
    font-size: 3rem; /*size whatever you like*/
    
}
#bold{
    font-weight:700;
   
}
#thankYou-btn{
 margin-top: 0;
 width:100%;
}

.thankYou{
    padding: 5%;
    visibility: hidden;
    margin: auto;
    display:flex;
    margin-top: 10vh;
    flex-direction:column ;
    height:50%;
    text-align: left;
    align-items: center;
    margin: 5vw 12vw;
    align-items: start;
    background-color: #fff;   
    border-radius:2%;
}

.news{
    padding:5vw;
    overflow: hidden;
    position: relative;
    margin-bottom: 2vw;
}
#newsletter{
  
   border-radius:3%;
   width:70%;
   
   /* border:2px solid red; */
   margin-right: 5vw;;
   position: absolute;
    margin-bottom: 7vh;
   /* margin-top: 12vh; */
   /* margin-bottom: 7vh;
   margin-left: 0; */
   
   
}
.btn-primary{
    background-color:  hsl(234, 29%, 20%);
    height:45px;
    margin-top: 2vw;
    /* padding: 1vw; */
    font-size: small;
    font-weight: bolder;
}
@media only screen and (max-width:1000px) {
    body {
     background-color: #fff;
      
    }
   .container{
    width:100%; 
   }
    .news{
        
        padding: 0;
        height:45vw;
        overflow: hidden;
    }
    #newsletter{
        overflow: hidden;
        width: 100%;
      
        margin: 0;
        border-radius: 0;
    }
    #exampleInputEmail1{
       width:90%;
    }
   
    .thankYou{
        font-size: large;
        padding: 10%;
         width:100%; 
        visibility: hidden;
        margin: auto;
        display:flex;
        margin-top: 10vh;
        flex-direction:column ;
        height:50%;
        text-align: left;
        align-items: center;
        /* margin: 5vw 12vw; */
        align-items: start;
        background-color: #fff;   
        border-radius:2%;
    }
    #mailBtn{
      width:90%;
    }
    #small-p{
        display:none;
        font-size: 0.7rem;
        font-weight:700;
        /* padding-left: 7%; */
        color:hsl(4, 91%, 58%);
        margin-bottom: 0.3rem;
    }
    
  }